body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.font {
    font-family: 'Raleway', sans-serif !important;
}

.authors {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: white;
}

.authors_header {
    height: 200px;
    width: inherit;
    display: inherit;
}

.authors_header-left {
    width: 70%;
    height: inherit;
    display: inherit;
    align-items: center;
    background: url("assets/header.png") no-repeat;
    background-size: cover;
}

.authors_header-left_align {
    width: 100%;
    height: inherit;
    display: inherit;
    justify-content: space-between;
    padding: 10% 10% 0;
}

.authors_header-left_logo {
    width: 185px;
    height: 27px;
    cursor: pointer;
    margin-left: 15%;
}

.authors_header-left_menu {
    margin: 0;
    padding: 0;
    width: inherit;
    list-style: none;
    display: inherit;
    height: max-content;
    justify-content: flex-end;
}

.authors_header-left_menu-title {
    color: white;
    cursor: pointer;
    font-size: 12px;
    margin-left: 5%;
    line-height: 14px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}

.authors_header-right {
    width: 30%;
    height: inherit;
    display: inherit;
    background: #E8BB46;
}

.authors_header-right_align {
    width: 100%;
    height: inherit;
    display: inherit;
    justify-content: space-between;
    padding: 11% 10% 0;
}

.authors_header-right_search {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.authors_header-right_menu {
    margin-top: 1%;
    justify-content: flex-start;
}

.authors_header-right_menu-title {
    color: #333333;
}

.authors_main {
    height: auto;
    width: inherit;
    display: inherit;
    flex-direction: column;
}

.row {
    height: auto;
    width: inherit;
    display: inherit;
}

.authors_main-left {
    width: 30%;
    height: inherit;
    display: inherit;
    padding-left: 5%;
}

.authors_main-left_line {
    width: 15%;
    z-index: 10;
    height: inherit;
    display: inherit;
    justify-content: flex-end;
    border-right: 1px solid #E8BB46;
}

.authors_main-left_line-block {
    width: 88px;
    height: 188px;
    display: inherit;
    background: #E8BB46;
    align-items: center;
    flex-direction: column;
}

.authors_main-left_line-block_arrow {
    margin-top: 50%;
}

.authors_main-left_title {
    color: #333333;
    font-size: 40px;
    line-height: 90%;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    margin: 20% 0 0 5%;
}

.authors_main-right {
    width: 70%;
    height: inherit;
    padding-top: 7vh;
    display: inherit;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.authors_main-right_author {
    width: 65%;
    display: inherit;
    padding: 2% 0 5%;
    height: max-content;
}

.authors_main-right_author-left {
    height: inherit;
    width: max-content;
    flex-direction: column;
}

.authors_main-right_author-left_photo {
    width: 100%;
    height: max-content;
}

.authors_main-right_author-left_photo-lena {
    cursor: pointer;
}

.authors_main-right_author-left_socialMedia {
    width: 100%;
    display: flex;
    margin-top: 5%;
    height: max-content;
    justify-content: space-around;
}

.media {
    cursor: pointer;
}

.authors_main-right_author-right {
    margin-left: 5%;
    width: max-content;
}

.authors_main-right_author-right_name {
    color: #333333;
    font-size: 30px;
    cursor: pointer;
    font-weight: 900;
    line-height: 90%;
    margin-top: unset;
    font-style: normal;
    font-family: Raleway, sans-serif;
}

.authors_main-right_author-right_position {
    color: #333333;
    font-size: 16px;
    line-height: 150%;
    font-style: normal;
    font-weight: normal;
}

.authors_main-right_author-right_articles {
    color: #E8BB46;
    font-size: 16px;
    font-weight: bold;
    line-height: 150%;
    font-style: normal;
}

.authors_main-right_author-right_comment {
    color: #828282;
    font-size: 16px;
    line-height: 150%;
    font-style: normal;
    font-weight: normal;
}

.authors_main-add {
    z-index: 1;
    height: 290px;
    width: inherit;
    display: inherit;
    justify-content: flex-end;
    background: url("assets/ad.png") no-repeat;
    background-size: cover;
}

.authors_main-add_block {
    width: 20%;
    height: 100%;
    margin-right: 5%;
    padding: 0 5vh;
    display: inherit;
    background: #E8BB46;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.authors_main-add_block-title {
    color: #333333;
    font-size: 34px;
    font-weight: 900;
    line-height: 90%;
    font-style: normal;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
}

.authors_main-add_block-comment {
    color: #333333;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    font-style: normal;
    margin-top: unset;
    margin-bottom: 10%;
}

.authors_main-add_block-button {
    width: 175px;
    height: 40px;
    padding: 2% 4%;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 120%;
    font-weight: bold;
    font-style: normal;
    border-radius: 2px;
    background: linear-gradient(90deg, #66938D 0%, #EB5757 100%);
}

.authors_footer {
    height: 100vh;
    width: inherit;
    display: inherit;
}

.authors_footer-left {
    width: 70%;
    height: inherit;
    display: inherit;
    align-items: center;
    flex-direction: column;
    background: url("assets/footerBackground.png") no-repeat;
    background-size: cover;
}

.authors_footer-left_top {
    width: 75%;
    height: 50%;
    display: inherit;
    padding-top: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.authors_footer-left_title {
    color: white;
    font-size: 40px;
    font-weight: 900;
    line-height: 90%;
    font-style: normal;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
}

.authors_footer-left_description {
    color: white;
    font-size: 16px;
    line-height: 130%;
    font-style: normal;
    font-weight: normal;
}

.authors_footer-left_bottom {
    width: 75%;
    height: 25%;
    display: inherit;
    align-items: flex-start;
    justify-content: space-between;
}

.authors_footer-left_bottom-lists {
    width: auto;
    height: auto;
    display: inherit;
    flex-direction: column;
}

.authors_footer-left_bottom-lists:nth-child(2) {
    margin-right: 30%;
}

.authors_footer-left_bottom-lists_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.authors_footer-left_bottom-lists_list-item {
    margin: 1vh 0;
    display: flex;
    align-items: center;
}

.authors_footer-left_bottom-lists_list-item img {
    margin-right: 1vh;
}

.authors_footer-left_bottom-lists_list-item a {
    color: white;
    font-size: 16px;
    display: inherit;
    line-height: 120%;
    font-style: normal;
    text-decoration: none;
}

.authors_footer-left_bottom-lists_title {
    color: #E8BB46;
    font-size: 20px;
    font-weight: 900;
    line-height: 90%;
    font-style: normal;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
}

.authors_footer-right {
    width: 20%;
    height: auto;
    display: inherit;
    background: #E8BB46;
    flex-direction: column;
    padding: 15% 5%;
}

.authors_footer-right_title {
    color: #333333;
    font-size: 34px;
    font-weight: 900;
    line-height: 90%;
    font-style: normal;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
}

.authors_footer-right_input {
    border: none;
    width: 380px;
    height: 40px;
    margin: 1vh 0;
    color: #4F4F4F;
    padding: 2% 5%;
    font-size: 14px;
    line-height: 50px;
    font-style: normal;
    font-weight: normal;
}

.authors_footer-right_button {
    border: none;
    width: 175px;
    height: 40px;
    color: white;
    outline: none;
    margin-top: 2vh;
    font-size: 16px;
    font-weight: bold;
    line-height: 120%;
    font-style: normal;
    border-radius: 2px;
    background: linear-gradient(90deg, #66938D 0%, #EB5757 100%);
}

.authors_footer-left_navigation {
    width: 75%;
    height: auto;
    display: inherit;
}

.authors_footer-left_navigation-item {
    color: white;
    font-size: 12px;
    margin-right: 5%;
    line-height: 120%;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}