.article_main-right {
    border: none;
    margin-top: 1%;
}

.article_main-right_title {
    color: #333333;
    font-size: 40px;
    font-weight: 900;
    line-height: 100%;
    margin-top: unset;
    font-style: normal;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
}

.article_main-right_info {
    color: #333333;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: normal;
}

.article_main-right_list {
    padding: unset;
    list-style: none;
    margin-bottom: 10%;
}

.article_main-right_list-item {
    margin: 2% 0 0;
    color: #828282;
    font-size: 16px;
    line-height: 150%;
    font-style: normal;
    font-weight: normal;
}

.article_main-right_terms {
    margin: 1% 0;
    color: #828282;
    font-size: 16px;
    line-height: 150%;
    font-style: normal;
    font-weight: normal;
}

.article_main-right_subtitle {
    margin: 5% 0;
    color: #333333;
    font-size: 20px;
    font-weight: 900;
    line-height: 100%;
    font-style: normal;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
}

.article_main-right_list-terms {
    margin: 1% 0;
    color: #4F4F4F;
    font-size: 16px;
    line-height: 150%;
    font-style: normal;
    font-weight: normal;
}

.article_main-right_list-terms img {
    margin-right: 3%;
}

.bottom {
    margin-bottom: 3%;
}

@media screen and (max-width: 1199px) {
    .essays_other-essays {
        height: 200vh;
    }

    .authors_footer-left {
        height: max-content;
    }
}